swagger: '2.0'
info:
  description: >-
      Sample api documentation for  Jisort system The API login is the simplest method of integration for most applications.


  version: 1.0.0
  title: JISORT API
  termsOfService: 'https://my.jisort.com/app/'
  contact:
    email: beatrice@jisort.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: my.jisort.com
tags:
  - name: API
    description: Everything about your API's
    externalDocs:
      description: Find out more
      url: 'https://my.jisort.com/app'
  - name: user
    description: Operations about user
    externalDocs:
      description: Find out more about our store
      url: 'http://my.jisort.com'
schemes:
  - https
  - http
paths:
  /registration/login/:
    post:
      tags:
        - user
      summary: This is an area where users of the system are logged in.
      description: |2+
         The login session expires after a few hours where the user is supposed to login again.If it expires it will give a message on the login page stating user session has expired <h3 style="font-size:120%;"> HTTP POST Parameters</h3> <hr><br> Parameters <span style="display:inline-block; width: 25%;"></span>      Description<hr> Username  <span style="display:inline-block; width: 30%;"></span> set to the username used to login.<br>
          Password <span style="display:inline-block; width: 31%;"></span>            set to the password is used for login.<br>
          Grant type <span style="display:inline-block; width: 30%;"></span>         set to the value password.<br>
          Client_id  <span style="display:inline-block; width: 32%;"></span>        set to the client identifier.<br>
          Client secret   <span style="display:inline-block; width: 30%;"></span>    set to the client secret

      operationId: updatePetWithForm
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: username
          in: formData
          description: Field to add username
          required: true
          type: string
        - name: password
          in: formData
          description: Field to add password
          required: true
          type: string
        - name: grant_type
          in: formData
          description: With the value password
          required: false
          type: string
        - name: client_id
          in: formData
          description: with the the client’s ID
          required: false
          type: string
        - name: client_secret
          in: formData
          description: with the client’s secret
          required: false
          type: string
      responses:
        '200':
          description: successful operation

        '400':
          description: Fetch error
        '404':
          description: User not found




  /messenger/outbox/:
    post:
      tags:
        - messenger
      summary: Sends a Message
      description: >+
        This is the region to send messages, all you need to do is add the recipient’s number, message body.You need to generate the authorization token for access.
        <br> <h3 style="font-size:120%;">HTTP Header
        Parameters</h3> <hr>.<br>
        Parameters <span style="display:inline-block; width: 30%;"></span>
        Description <hr>   Authorization <span style="display:inline-block;
        width: 25%;"></span> Set to  Only bearer < access token>.<br>
        Content-Type <span style="display:inline-block; width: 25%;"></span>
        Only application/json content type is supported.<br> <h3
        style="font-size:120%;"> HTTP POST Parameters</h3> <hr><br>

        Parameters <span style="display:inline-block; width: 30%;"></span>
        Description <hr>
        Recipient <span style="display:inline-block; width:
        30%;"></span> Set to the recipients contact<br>

        Message <span
        style="display:inline-block; width: 31%;"></span>Set to the message
        being sent<br><span style="display:block; height: 5%;"></span> <p
        style="color:#FF0831;">Disclaimer!  Always generate delivery reports
        before 48 hours are over since the lifetime for a delivery report is 48
        hours  </p>

      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: recipient
          in: formData
          description: with the receivers contact
          required: true
          type: string
        - name: Authorization
          in: header
          description: with the authorization token access
          required: true
          type: string
        - name: message
          in: formData
          description: with the users message
          required: true
          type: string
      responses:
        '200':
          description: successful operation

        '400':
          description: fetch error
        '404':
          description: User not found
  /messenger: null
  /messenger/outbox/?message_status:
    get:
      tags:
        - messenger
      summary: Gets a list of messages
      description: >-
        The API is expected to return the messages that have been sent.This are the messages in the outbox.You need to generate the access token for authorization.

        <h3 style="font-size:120%;">HTTP Header Parameters</h3> <hr><br> <br><h3 style="font-size:120%;"> HTTP header
        Parameters</h3> <hr> Parameters <span style="display:inline-block;
        width: 30%;"></span>  Description <hr>  Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: 'The authorization token generated. '
          required: true
          type: string
      responses:
        '200':
          description: successful operation

        '400':
          description: fetch failed
        '404':
          description: User not found
  /products/applied_loans/:
    get:
      tags:
        - loans
      summary: Lists  loans applied
      description: >-
        This lists the loans that have been applied.You need to generate an authorization token  that sends the API request.<br>  <h3 style="font-size:120%;"> HTTP
        header Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr>
        Authorization <span style="display:inline-block; width: 25%;"></span>
        Set to  Only bearer < access token>.<br>
      operationId: loginUser
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: 'The authorization that allows for authentication . '
          required: true
          type: string
      responses:
        '200':
          description: successful operation

        '400':
          description: Invalid authorization token
  /products/loans/:
    post:
      tags:
        - loans
      summary: Apply loan
      description: >2-
         This is a simple API for  loan application.For loan application you also need to generate the authorization for access.You add the necessary details like member number. <h3 style="font-size:120%;"> HTTP header Parameters</h3> <hr> Parameters <span style="display:inline-block; width: 30%;"></span>  Description <hr>   Authorization <span style="display:inline-block; width: 25%;"></span> Set to  Only bearer < access token>.<br> Content-Type <span style="display:inline-block; width: 25%;"></span>  Only application/json content type is supported.<br> <h3 style="font-size:120%;"> HTTP POST Parameters</h3> <hr> Parameters <span style="display:inline-block; width: 30%;"></span>  Description <hr>  Member <span style="display:inline-block; width: 25%;"></span> Select member who is borrowing a loan <br>
        Loan reference number <span style="display:inline-block; width:
        10%;"></span> The number that uniquely identifies a loan <br>

        Loan type <span style="display:inline-block; width: 24%;"></span> Select
        the type of loan that a member is borrowing. <br>

        Loan purpose <span style="display:inline-block; width: 20%;"></span>
        Fill in why the member is borrowing a loan. <br>

        Amount <span style="display:inline-block; width: 26%;"></span> Enter the
        amount being borrowed. <br>

        No of repayments <span style="display:inline-block; width: 16%;"></span>
        Add the number of repayments for the loan being borrowed. <br>

        Date of loan application <span style="display:inline-block; width:
        10%;"></span> Add the date the loan was applied. <br>

        Grace period <span style="display:inline-block; width: 20%;"></span> An
        additional time given to a member to pay off their loan. <br>

        Charge deductions <span style="display:inline-block; width:
        13%;"></span> Select  whether you want that particular loan to attract
        charges. <br>

        Date of first repayment <span style="display:inline-block; width:
        10%;"></span> Select the date for the first repayment. <br>

        Days before first repayment <span style="display:inline-block; width:
        7%;"></span> Add the days before the first repayment. <br>

        Interest rate<span style="display:inline-block; width: 25%;"></span>Add
        the interest rate charges. <br>

        Loan top-up <span style="display:inline-block; width:
        20%;"></span>Select  list depending whether you want to a loan top up or
        not.<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: 'The authorization that allows for authentication . '
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/loan'
      responses:
        default:
          description: successful operation

  /products/repayment_schedule/?loan/{id}:
    get:
      tags:
        - loans
      summary: loan accounts
      description: >-
        Loan accounts gives the loan status of a member.It also gives provision to view the loan account of a member within a group.<br>  <h3 style="font-size:120%;"> HTTP
        header Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr>
        Authorization <span style="display:inline-block; width: 25%;"></span>
        Set to  Only bearer < access token>.<br>

      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: 'The authorization that allows for access. '
          required: true
          type: string
      responses:
        '200':
          description: successful operation

        '400':
          description: Invalid username/password supplied

  /products/loan_disbursement/:
    post:
      tags:
        - loans
      summary: loan disbursement
      description: >-
        This involves disbursing the loan to the account of the loanee.<br> Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr>
        Member <span style="display:inline-block; width: 30%;"></span> A member
        whose loan is being disbursed .<br>

        Disbursement_amount  <span style="display:inline-block; width:
        15%;"></span> The amount being disbursed .<br>

        Loan  <span style="display:inline-block; width: 30%;"></span> loan that
        is being disbursed. <br>

        Bank <span style="display:inline-block; width: 30%;"></span> The bank
        that money will be disbursed to. <br>

        Disbursement_date <span style="display:inline-block; width:
        18%;"></span> date when the money will be dibursed. <br>

        Currency <span style="display:inline-block; width: 25%;"></span> Select
        currency in which the loan will be disbursed. <br>

        Payment_type  <span style="display:inline-block; width: 20%;"></span>
        Add the payment mode in which the loan will be disbursed. <br>

        Receipt_no  <span style="display:inline-block; width: 25%;"></span>the
        receipt number of the loan. <br>

        Deduct charges from disbursement amount  <span
        style="display:inline-block; width: 10%;"></span> This will attract
        charges from disbursed amount. <br>

        Charges  <span style="display:inline-block; width: 30%;"></span> the
        charges to be deducted from the. <br>
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - name: member
          in: formData
          description: A member whose loan is being disbursed
          required: true
          type: string
        - name: disbursement_amount
          in: formData
          description: The amount being disbursed
          required: true
          type: string
        - name: loan
          in: formData
          description: loan that is being disbursed
          required: false
          type: string
        - name: bank
          in: formData
          description: the bank that money will be disbursed to
          required: true
          type: string
        - name: disbursement_date
          in: formData
          description: date when the money will be dibursed
          required: true
          type: string
        - name: currency
          in: formData
          description: the currency used
          required: true
          type: string
        - name: payment_type
          in: formData
          description: the payment mode for this transaction
          required: true
          type: string
        - name: receipt_no
          in: formData
          description: the receipt number of the loan
          required: true
          type: string
        - name: deduct_charges_from_disbursement_amount
          in: formData
          description: This will attract charges from disbursed amount
          required: true
          type: string
        - name: charges
          in: formData
          description: the charges to be deducted from the
          required: true
          type: string
      responses:
        '200':
          description: successful operation

        '400':
          description: Invalid username/password supplied
  '/products/applied_loans/{id}/':
    patch:
      tags:
        - loans
      summary: Approve loans
      description: >-
        This API is used to make approval call for loans.You need to add the Id of the loan being approved.<br> <h3
        style="font-size:120%;">HTTP Header Parameters</h3> <hr><br>Parameters
        <span style="display:inline-block; width: 30%;"></span>  Description
        <hr>   Authorization <span style="display:inline-block; width:
        25%;"></span> Set to  Only bearer < access token>.<br> Content-Type
        <span style="display:inline-block; width: 25%;"></span>  Only
        application/json <h3 style="font-size:120%;"> HTTP POST Parameters</h3>
        <hr> Parameters <span style="display:inline-block; width: 30%;"></span>
        Description <hr>  Id <span style="display:inline-block; width:
        30%;"></span> The Id of the loan .<br>
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization token for access
          required: true
          type: string
        - name: id
          in: path
          description: The Id of the loan.
          required: true
          type: string
      responses:
        default:
          description: successful operation
  /products/repayment_schedule/:
    post:
      tags:
        - loans
      summary: process loan
      description: >-
        This API is used to process loans.The loan is processed after adding the anme of the loan and an authorization token for access.<br><h3 style="font-size:120%;">HTTP
        Header Parameters</h3> <hr><br>Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr>
        Authorization <span style="display:inline-block; width: 25%;"></span>
        Set to  Only bearer < access token>.<br> Content-Type <span
        style="display:inline-block; width: 25%;"></span>  Only application/json
        <h3 style="font-size:120%;"> HTTP POST Parameters</h3> <hr> Parameters
        <span style="display:inline-block; width: 30%;"></span>  Description
        <hr>  Loan <span style="display:inline-block; width: 30%;"></span>Fill
        the loan being processed.<br>
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The user name for login
          required: true
          type: string
        - name: loan
          in: formData
          description: Field to add username
          required: true
          type: string
      responses:
        default:
          description: successful operation
  '/products/applied_loans/{id}/''':
    patch:
      tags:
        - loans
      summary: Reverse loan
      description: >-
        Reverse loan API makes reversal calls.You can reverse a loan Regardless of it's status whether complete active or processed.<h3 style="font-size:120%;">HTTP
        Header Parameters</h3> <hr><br>Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr>
        Authorization <span style="display:inline-block; width: 25%;"></span>
        Set to  Only bearer < access token>.<br> Content-Type <span
        style="display:inline-block; width: 25%;"></span>  Only application/json
        <h3 style="font-size:120%;"> HTTP POST Parameters</h3> <hr> Parameters
        <span style="display:inline-block; width: 30%;"></span>  Description
        <hr>  Id <span style="display:inline-block; width: 30%;"></span>Fill the
        loan Id to be reversed.<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: ''
          required: true
          type: string
        - name: id
          in: path
          description: ''
          required: true
          type: string
      responses:
        default:
          description: successful operation
  /products/loan_guarantors/:
    post:
      tags:
        - loans
      summary: loan guarantors
      description: >-
        Loan guarantors API adds a guarantor.A guarantor can be a member ,group or a non-member. <h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>
        Member type <span style="display:inline-block; width: 30%;"></span>A
        guarantor can be a member, non-member or Group<br>

        Member <span style="display:inline-block; width: 35%;"></span>The name
        of the member to guarantee the loan<br>

        collateral_or_savings <span style="display:inline-block; width:
        20%;"></span>Set to whether the guarantor is using their savings or
        collateral<br>

        savings_amount <span style="display:inline-block; width:
        25%;"></span>Add the amount that this guarantor has in terms of
        savings<br>

        loan <span style="display:inline-block; width: 35%;"></span>Set which
        loan this individual will guarantee<br>

        member_id <span style="display:inline-block; width: 30%;"></span>Set to
        the member id <br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: with the authorization token access
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            items:
              $ref: '#/definitions/Guarantors'
      responses:
        default:
          description: successful operation
  /registration/collateral_registration/:
    post:
      tags:
        - loans
      summary: Register collateral
      description: >-
        Collateral registration registers collateral.It allows the user to register all the collateral of a given loan including documents and files. The registered collateral is grouped as either a movable or immovable item. <h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>
        Member_type <span style="display:inline-block; width:
        20%;"></span>select whether the collateral is for a member on
        non-member<br>

        Member <span style="display:inline-block; width: 24%;"></span>Select
        member  whose collateral is to be registered<br>

        Description  <span style="display:inline-block; width: 20%;"></span>
        Add descriptive note for the collateral <br>

        Collateral_id_no <span style="display:inline-block; width:
        15%;"></span>  Add a unique identifier for the collateral being
        registered<br>

        Value <span style="display:inline-block; width: 25%;"></span>  Add value
        of the collateral.<br>

        Status  <span style="display:inline-block; width: 25%;"></span>Select
        the status of the collateral <br>

        Collateral_type <span style="display:inline-block; width: 15%;"></span>
        Add collateral type. Is it movable or immovable<br>

        Comment <span style="display:inline-block; width: 25%;"></span>Add
        relevant comment<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Collateral'
      responses:
        default:
          description: successful operation
  /product/loan_charge/:
    post:
      tags:
        - loans
      summary: Creates loan charges
      description: >-
        This is a section showing the charges incurred by the loanee during the
        process of acquiring a loan.<h3
        style="font-size:120%;">HTTP Header Parameters</h3> <hr><br>Parameters
        <span style="display:inline-block; width: 30%;"></span>  Description
        <hr>   Authorization <span style="display:inline-block; width:
        25%;"></span> Set to  Only bearer < access token>.<br> Content-Type
        <span style="display:inline-block; width: 25%;"></span>  Only
        application/json <h3 style="font-size:120%;"> HTTP POST Parameters</h3>
        <hr> Parameters <span style="display:inline-block; width: 30%;"></span>
        Description <hr> <br> Name <span style="display:inline-block; width:
        30%;"></span>Set the name of the charge <br>

        Charge time type <span style="display:inline-block; width:
        20%;"></span>Set to the charge time type<br>

        Charge calculation <span style="display:inline-block; width:
        19%;"></span> set to the type of calculation <br>

        Formula <span style="display:inline-block; width: 30%;"></span>  Set to
        the formula used <br>

        Calculation amount from <span style="display:inline-block; width:
        15%;"></span>set to the least amount.<br>

        Calculation amount from  <span style="display:inline-block; width:
        15%;"></span>Set to the most amount <br>

        Amount <span style="display:inline-block; width: 30%;"></span>  Set to
        the amount being charged <br>

        Gl_account <span style="display:inline-block; width: 30%;"></span>To
        which GL account does the charge go to<br>

        Use as  <span style="display:inline-block; width: 30%;"></span>Select
        the status of the collateral <br>

        Status <span style="display:inline-block; width: 30%;"></span>  Set to
        the status from the list<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Charges'
      responses:
        default:
          description: successful operation
  /products/formulas/:
    post:
      tags:
        - loans
      summary: formulas
      description: >-
        The user can also add their own loan formula  on the formula menu.You add the name of the formula and the formula array.  <h3 style="font-size:120%;">HTTP
        Header Parameters</h3> <hr><br>Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr>
        Authorization <span style="display:inline-block; width: 25%;"></span>
        Set to  Only bearer < access token>.<br> Content-Type <span
        style="display:inline-block; width: 25%;"></span>  Only application/json
        <h3 style="font-size:120%;"> HTTP POST Parameters</h3> <hr> Parameters
        <span style="display:inline-block; width: 30%;"></span>  Description
        <hr> <br> name <span style="display:inline-block; width:
        25%;"></span>Set to the name of the formula<br>

        formula_array <span style="display:inline-block; width: 20%;"></span>Set
        to the formula array of the loan<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Formulas'
      responses:
        default:
          description: successful operation
  /registration/members/:
    post:
      tags:
        - Registration
      summary: Member registration
      description: >-
        This creates the member details.This captures the essential member data. This is where a member is registered in the system.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        First name <span style="display:inline-block; width: 25%;"></span>Add
        member first name<br>

        Middle name <span style="display:inline-block; width: 25%;"></span>
        Add member middle name <br>

        last name <span style="display:inline-block; width: 25%;"></span>    Add
        last name <br>

        Date of birth <span style="display:inline-block; width: 25%;"></span>
        Add date of birth.<br>

        Id number  <span style="display:inline-block; width: 25%;"></span>  Add
        the id number of member<br>

        CRO <span style="display:inline-block; width: 30%;"></span>    Add CRO
        <br>

        Member number <span style="display:inline-block; width: 20%;"></span>Add
        member number <br>

        Country <span style="display:inline-block; width: 25%;"></span>Add the
        country <br>

        Registration date <span style="display:inline-block; width:
        20%;"></span>    Add registration date<br>

        Status <span style="display:inline-block; width: 30%;"></span>Add the
        status of the member<br>

        Gender <span style="display:inline-block; width: 27%;"></span>  Add
        Gender <br>

        Mobile number <span style="display:inline-block; width: 20%;"></span>
        Add mobile number<br>

        Member type <span style="display:inline-block; width: 20%;"></span>  Add
        the member type <br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Registration'
      responses:
        default:
          description: successful operation
  /registration/member_bank/:
    post:
      tags:
        - Registration
      summary: Member bank details
      description: >-
        This is a section for capturing bank details for the newly added member.<h3 style="font-size:120%;">HTTP Header
        Parameters</h3> <hr><br>Parameters <span style="display:inline-block;
        width: 30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>
        Member <span style="display:inline-block; width: 25%;"></span>Add the
        member whose bank details are to be added <br>

        Bank <span style="display:inline-block; width: 25%;"></span>   Add
        member middle name <br>

        Branch <span style="display:inline-block; width: 25%;"></span>    Add
        last name <br>

        Branch name <span style="display:inline-block; width: 25%;"></span> Add
        the bank branch.<br>

        Account type  <span style="display:inline-block; width: 25%;"></span> It
        is either Adult or minor<br>

        Account number <span style="display:inline-block; width: 30%;"></span>
        Add the account number<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Bank'
      responses:
        default:
          description: successful operation
  /registration/next_of_kin/:
    post:
      tags:
        - Registration
      summary: Next of kin
      description: >-
        This posts the details of a next of kinThis is the person who takes over the members account incase they can longer use it.So you add the details of the next of kin.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Member <span style="display:inline-block; width: 25%;"></span>Add the
        member whose next of kin is being registered <br>

        First name <span style="display:inline-block; width: 25%;"></span>   Add
        first name for next kin<br>

        Middle name <span style="display:inline-block; width: 25%;"></span>  Add
        middle name for next of kin<br>

        Last name <span style="display:inline-block; width: 25%;"></span>  Add
        last name for next of kin<br>

        Relationship <span style="display:inline-block; width: 25%;"></span> Add
        how the member is related to their next of kin<br>

        Percentage <span style="display:inline-block; width: 30%;"></span> Add
        the percentage which next of kin will receive<br>

        Date of birth <span style="display:inline-block; width: 25%;"></span>
        Add date of birth for next of kin<br>

        ID no <span style="display:inline-block; width: 25%;"></span> Add the ID
        no<br>

        Mobile No <span style="display:inline-block; width: 30%;"></span> Add
        the mobile no<br>

        Description <span style="display:inline-block; width: 30%;"></span>Add
        description for the next of kin<br>
      operationId: create Next of kin
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Next_of_kin'
      responses:
        default:
          description: successful operation
  /registration/member_group/:
    post:
      tags:
        - Registration
      summary: Member group registration
      description: >-
        This is an area for adding a member to a group.You need to add which group the member will belong to.<h3 style="font-size:120%;">HTTP Header
        Parameters</h3> <hr><br>Parameters <span style="display:inline-block;
        width: 30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>
        Member <span style="display:inline-block; width: 25%;"></span>Add the
        member whose bank details are to be added <br>

        group_name <span style="display:inline-block; width: 25%;"></span>Add
        the member whose bank details are to be added <br>

        Is a member signatory <span style="display:inline-block; width:
        25%;"></span>Add the member whose bank details are to be added <br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Member_group'
      responses:
        default:
          description: successful operation
  /registration/member_accounts/:
    post:
      tags:
        - Registration
      summary: Member accounts
      description: >-
        This is a section to create accounts for different members.<h3 style="font-size:120%;">HTTP Header
        Parameters</h3> <hr><br>Parameters <span style="display:inline-block;
        width: 30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Group <span style="display:inline-block; width: 25%;"></span>Add the
        group whose account is to be created <br>

        Member <span style="display:inline-block; width: 25%;"></span>  member
        whose account is to be created<br>

        Account <span style="display:inline-block; width: 25%;"></span> Add the
        account<br>

        Account number <span style="display:inline-block; width: 25%;"></span>
        Add account number<br>

        Account name <span style="display:inline-block; width: 25%;"></span> Add
        how the member is related to their next of kin<br>

        Charge registration fee <span style="display:inline-block; width:
        30%;"></span> Add yes or no if there is registration fee <br>

        Opening date <span style="display:inline-block; width: 25%;"></span> The
        date the account was opened.<br>

        Enable account signatories <span style="display:inline-block; width:
        25%;"></span> Add if you want to enable signatories or not<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Member_accounts'
      responses:
        default:
          description: successful operation
  /registration/work_details/:
    post:
      tags:
        - Registration
      summary: Work details
      description: >-
        This creates the work details of a member.<h3 style="font-size:120%;">HTTP Header
        Parameters</h3> <hr><br>Parameters <span style="display:inline-block;
        width: 30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Member <span style="display:inline-block; width: 25%;"></span>member
        whose work details are to be added <br>

        PF number <span style="display:inline-block; width: 25%;"></span>  Add
        the unique identifier of the employee<br>

        Work station<span style="display:inline-block; width: 25%;"></span> Add
        the account<br>

        Official designation <span style="display:inline-block; width:
        25%;"></span> Add their professional designation<br>

        Terms <span style="display:inline-block; width: 25%;"></span>  Add terms
        of employment<br>

        Employer <span style="display:inline-block; width: 30%;"></span> Add the
        name of employer<br>

        Date of employment<span style="display:inline-block; width:
        25%;"></span> Add the date of employment<br>

        Contract expiry date<span style="display:inline-block; width:
        25%;"></span> Add the date for contarct expiry<br>

        Basic salary<span style="display:inline-block; width: 25%;"></span> Add
        the basic salary of the member<br>

        Gross_salary<span style="display:inline-block; width: 25%;"></span>Add
        the gross salary of the member<br>

        Non current income<span style="display:inline-block; width:
        25%;"></span> Add if the meber has non current income<br>

        Net salary<span style="display:inline-block; width: 25%;"></span> Add
        the net salary of the member<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Work_details'
      responses:
        default:
          description: successful operation
  /registration/social_economics/:
    post:
      tags:
        - Registration
      summary: Social economics
      description: >-
        This posts the bio data of a member.This includes the religion marital status etc.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Member <span style="display:inline-block; width: 25%;"></span>member
        whose details are to be added <br>

        Marital status<span style="display:inline-block; width: 25%;"></span>
        Add their marital status<br>

        Religion<span style="display:inline-block; width: 25%;"></span> Add the
        members religion<br>

        No of children<span style="display:inline-block; width: 25%;"></span>
        Add no of children<br>

        Profession <span style="display:inline-block; width: 25%;"></span> Add
        his profession<br>

        Education level<span style="display:inline-block; width: 30%;"></span>
        Add their education level<br>

        Can access credit<span style="display:inline-block; width: 25%;"></span>
        Add yes or no<br>

        No of dependents<span style="display:inline-block; width:
        25%;"></span>Add number of dependents<br>

        Branch<span style="display:inline-block; width: 25%;"></span> Add yes or
        no<br>

        Read and write<span style="display:inline-block; width: 25%;"></span>Add
        yes or no<br>

        Employer<span style="display:inline-block; width: 25%;"></span> Add
        employer name<br>

        Housing<span style="display:inline-block; width: 25%;"></span> Add a yes
        or no<br>

        Speak English<span style="display:inline-block; width: 25%;"></span> Add
        yes or no<br>

        Other languages<span style="display:inline-block; width: 25%;"></span>
        Add other languages used by the member<br>

        Employment<span style="display:inline-block; width: 25%;"></span> Add
        yes or no<br>

        Is a group member<span style="display:inline-block; width: 25%;"></span>
        Add yes or no<br>

        Can guarantee<span style="display:inline-block; width: 25%;"></span> Add
        yes or no<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/social_economics'
      responses:
        default:
          description: successful operation
  /registration/member_uploads/:
    post:
      tags:
        - Registration
      summary: Member uploads
      description: >-
        This uploads the member documents.This member uploads API allows the member to upload any supporting documents that maybe required by the organization  including a member signature and documents for collateral in the case of a loan application.

        <h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Member <span style="display:inline-block; width: 25%;"></span>member
        whose documents are to be added <br>

        Document_type <span style="display:inline-block; width: 25%;"></span>
        Add the document type<br>

        Loan<span style="display:inline-block; width: 25%;"></span> Add the loan
        <br>

        Document name <span style="display:inline-block; width: 25%;"></span>
        Add the document name<br>

        Document Id <span style="display:inline-block; width: 25%;"></span> Add
        the document Id <br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/member_uploads'
      responses:
        default:
          description: successful operation
  /registration/non_member_registration/:
    post:
      tags:
        - Registration
      summary: Non member registration
      description: >-
        This is a section to register non members.Non-members are significant in instances where a member requires a guarantor who is not a member of that particular financial organization.<h3 style="font-size:120%;">HTTP Header
        Parameters</h3> <hr><br>Parameters <span style="display:inline-block;
        width: 30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        First name <span style="display:inline-block; width: 25%;"></span>Add
        their first name <br>

        Middle name <span style="display:inline-block; width: 25%;"></span>  Add
        the their middle name<br>

        Last name<span style="display:inline-block; width: 25%;"></span> Add
        their last name <br>

        Phone number <span style="display:inline-block; width: 25%;"></span> Add
        a phone number<br>

        Id number <span style="display:inline-block; width: 25%;"></span>Add the
        Id number<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Non_member'
      responses:
        default:
          description: successful operation
  '/registration/non_member_registration/{id}':
    get:
      tags:
        - Registration
      summary: Non member registration
      description: >-
        This is an area to view non-members that exist in the system.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Id <span style="display:inline-block; width: 25%;"></span>Add the Id of
        the member <br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - name: id
          in: path
          description: ''
          required: true
          type: string
      responses:
        default:
          description: successful operation
  '/registration/member_accounts/{id}/':
    get:
      tags:
        - Registration
      summary: View member accounts
      description: >-
        View member accounts.<h3
        style="font-size:120%;">HTTP Header Parameters</h3> <hr><br>Parameters
        <span style="display:inline-block; width: 30%;"></span>  Description
        <hr>   Authorization <span style="display:inline-block; width:
        25%;"></span> Set to  Only bearer < access token>.<br> Content-Type
        <span style="display:inline-block; width: 25%;"></span>  Only
        application/json <h3 style="font-size:120%;"> HTTP POST Parameters</h3>
        <hr> Parameters <span style="display:inline-block; width: 30%;"></span>
        Description <hr> <br>

        Id <span style="display:inline-block; width: 25%;"></span>Add the Id of
        the member <br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - name: id
          in: path
          description: ''
          required: true
          type: string
      responses:
        default:
          description: successful operation
  /registration/chart_accounts/:
    post:
      tags:
        - Registration
      summary: Accounts Registration
      description: >-
        This section is for account registration.The charts of accounts are all the available accounts used in the general accounts of an organization/institution.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Account type <span style="display:inline-block; width: 25%;"></span>Add
        the account type being registered <br>

        Account name<span style="display:inline-block; width: 25%;"></span>  Add
        the account name<br>

        Gl code<span style="display:inline-block; width: 25%;"></span> Add the
        gl code<br>

        Manual entries allowed <span style="display:inline-block; width:
        25%;"></span> Add if the manual entries are allowed<br>

        Overdraft allowed <span style="display:inline-block; width:
        25%;"></span> Add if overdraft is allowed or not<br>

        Parent <span style="display:inline-block; width: 25%;"></span> Add the
        parent account <br>

        Appears on group performance <span style="display:inline-block; width:
        10%;"></span> Add if the account should appear on group performance or
        not <br>

        Description <span style="display:inline-block; width: 25%;"></span> Add
        the account description<br>

        Account usage<span style="display:inline-block; width: 25%;"></span> Add
        the usage of the account <br>

        Gl group<span style="display:inline-block; width: 25%;"></span> Add a gl
        group if applicable<br>

        Branch<span style="display:inline-block; width: 25%;"></span> Add the
        branch of the account <br>

        Status<span style="display:inline-block; width: 25%;"></span> Add the
        status of the  account <br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/GL_account'
      responses:
        default:
          description: successful operation
  /registration/banks/:
    post:
      tags:
        - Registration
      summary: Bank Registration
      description: >-
        This section is for bank registration.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Bank name <span style="display:inline-block; width: 25%;"></span>Add the
        bank name <br>

        Gl account <span style="display:inline-block; width: 25%;"></span>  Add
        the gl account <br>

        User<span style="display:inline-block; width: 25%;"></span> Add the user
        <br>

        Business number <span style="display:inline-block; width: 25%;"></span>
        Add the business number  <br>

        Currency <span style="display:inline-block; width: 25%;"></span> Add the
        currency to be used  <br>

        Payment type <span style="display:inline-block; width: 25%;"></span> Add
        the payment e.g cash or cheque  <br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Bank_registration'
      responses:
        default:
          description: successful operation
  /registration/bank_branch/:
    post:
      tags:
        - Registration
      summary: Bank branch Registration
      description: >-
        This for bank branch registration.You simply add the bank name and the branch of the bank.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Bank name<span style="display:inline-block; width: 25%;"></span>Add the
        bank name <br>

        Gl account <span style="display:inline-block; width: 25%;"></span> Add
        the gl account<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Bank_branch'
      responses:
        default:
          description: successful operation
  /registration/group_registration/:
    post:
      tags:
        - Registration
      summary: Group registration
      description: >-
        This for group registration.You need to add the group name and a group code.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Group code <span style="display:inline-block; width: 25%;"></span>Add
        the unique identifier of the group <br>

        Group name<span style="display:inline-block; width: 25%;"></span> Add
        the group name<br>

        Physical address <span style="display:inline-block; width:
        25%;"></span>Add physical location of the group <br>

        County<span style="display:inline-block; width: 25%;"></span> Add the
        county<br>

        Constituency<span style="display:inline-block; width: 25%;"></span>Add
        the constituency <br>

        Meeting time<span style="display:inline-block; width: 25%;"></span> Add
        usual meeting time<br>

        Postal address<span style="display:inline-block; width: 25%;"></span>
        Add postal address<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Group_registration'
      responses:
        default:
          description: successful operation
  /registration/payment_modes/:
    post:
      tags:
        - Registration
      summary: Payment mode registration
      description: >-
        This for payment mode registration.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

         name<span style="display:inline-block; width: 25%;"></span>Add the
        name <br>

        Is cash payment <span style="display:inline-block; width: 25%;"></span>
        Add yes or no if its cash payment<br>

        payment gateway <span style="display:inline-block; width:
        25%;"></span>Add the payment gateway <br>

        Description<span style="display:inline-block; width: 25%;"></span> Add
        the payment description<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Payment_registration'
      responses:
        default:
          description: successful operation
  /registration/currency/:
    post:
      tags:
        - Registration
      summary: Currency registration
      description: >-
        This for currency registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Name<span style="display:inline-block; width: 25%;"></span>Add the
        currency name <br>

        Code  <span style="display:inline-block; width: 25%;"></span> Add the
        currency code<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Currency'
      responses:
        default:
          description: successful operation
  /registration/agents/:
    post:
      tags:
        - Registration
      summary: Agents registration
      description: >-
        This for agents registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Firstname<span style="display:inline-block; width: 25%;"></span>Add the
        firstname <br>

        Middle name <span style="display:inline-block; width: 25%;"></span> Add
        the middle name<br>

        Last name<span style="display:inline-block; width: 25%;"></span>Add the
        last name <br>

        Id number <span style="display:inline-block; width: 25%;"></span> Add
        the identification number<br>

        Personal email <span style="display:inline-block; width: 25%;"></span>
        Add the personal email<br>

        Phone number<span style="display:inline-block; width: 25%;"></span>Add
        the phone number <br>

        Bank name <span style="display:inline-block; width: 25%;"></span> Add
        the banks name<br>

        Bank account name<span style="display:inline-block; width:
        25%;"></span>Add the bank account name <br>

        Bank account number <span style="display:inline-block; width:
        25%;"></span> Add the account number<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/Agent_registration'
      responses:
        default:
          description: successful operation
  /mpa/client_payments/:
    post:
      tags:
        - Mpa
      summary: Client Payments
      description: >-
        This for client payments registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Group<span style="display:inline-block; width: 25%;"></span>Add the group of the member<br>

        member <span style="display:inline-block; width: 25%;"></span> Add the member<br>

        Bank<span style="display:inline-block; width: 25%;"></span>Add the bank<br>

        All accounts <span style="display:inline-block; width: 25%;"></span> Add the account<br>

        Payee <span style="display:inline-block; width: 25%;"></span> Add the payee<br>

        Cheque<span style="display:inline-block; width: 25%;"></span>Add the cheque number<br>

        Currency<span style="display:inline-block; width: 25%;"></span> Add the currency<br>

        Date <span style="display:inline-block; width: 25%;"></span> Add the date<br>

        Comment <span style="display:inline-block; width: 25%;"></span> Add a relevant comment<br>

        Amount<span style="display:inline-block; width: 25%;"></span>Add the amount<br>

        Member account<span style="display:inline-block; width: 25%;"></span> Add the members account<br>
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - name: group
          in: formData
          description: Field to add group
          required: true
          type: string
        - name: member
          in: formData
          description: Field to add the member
          required: true
          type: string
        - name: bank
          in: formData
          description: Add the bank
          required: false
          type: string
        - name: all_accounts
          in: formData
          description: Add the accounts
          required: false
          type: string
        - name: payee
          in: formData
          description: Add the payee
          required: false
          type: string
        - name: transaction_code
          in: formData
          description: Add the transaction code
          required: false
          type: string
        - name: payment_type
          in: formData
          description: Add the payment type
          required: false
          type: string
        - name: cheque
          in: formData
          description: Add the cheque
          required: false
          type: string
        - name: currency
          in: formData
          description: With the value currency
          required: false
          type: string
        - name: date
          in: formData
          description: with the the date
          required: false
          type: string
        - name: comment
          in: formData
          description: Add a comment
          required: false
          type: string
        - name: amount
          in: formData
          description: Add the amount of money
          required: false
          type: string
        - name: member_account
          in: formData
          description: Add the member account
          required: false
          type: string
      responses:
        default:
          description: successful operation
  /products/savings_deposits_products/:
    post:
      tags:
        - Products
      summary: Savings deposits products
      description: >-
        This for savings deposits products registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Product name<span style="display:inline-block; width: 25%;"></span>Add the product name <br>

        Short name <span style="display:inline-block; width: 25%;"></span> Add a short name<br>

        Description<span style="display:inline-block; width: 25%;"></span>Add a product description<br>

        Currency <span style="display:inline-block; width: 25%;"></span> add a currency<br>

        Norminal annual interest <span style="display:inline-block; width: 25%;"></span>Add the norminal annual interest<br>

        Interest compounding period<span style="display:inline-block; width: 25%;"></span>Add the interest period<br>

        Interest calculated using <span style="display:inline-block; width: 25%;"></span>Add the interst method used<br>

        Interest posting period<span style="display:inline-block; width:
        25%;"></span>Add the interest posting period<br>

        Minimum opening balance <span style="display:inline-block; width:
        25%;"></span> Add the minimum balance for opening<br>

        Apply_withdrawal_fees_for_transfer<span style="display:inline-block; width:
        25%;"></span> Add if withdrawal fees apply or not<br>

        enforce_minimum_balance <span style="display:inline-block; width:
        20%;"></span> Add if enforce minimum balance applies or not<br>

        is_overdraft_allowed <span style="display:inline-block; width:
        25%;"></span>Add if the overdraft is allowed or not<br>

        enable_dormancy_tracking <span style="display:inline-block; width:
        25%;"></span> Add if you to enable dormancy  tracking or not<br>

        number_of_days_to_inactive_status <span style="display:inline-block; width:
        10%;"></span> add the number days before account is inactive<br>

        inactivity_time_type <span style="display:inline-block; width:
        25%;"></span> add the inactivity time type e.g year month<br>

        number_of_days_to_dormant_status <span style="display:inline-block; width:
        10%;"></span> Add the number days before dormancy status<br>

        dormancy_time_type <span style="display:inline-block; width:
        25%;"></span> Add the dormancy time type e.g year month<br>

        balance_required_for_interest_calculation <span style="display:inline-block; width:
        5%;"></span> Add the amount required for interest calculation<br>

        minimum_balance<span style="display:inline-block; width:
        25%;"></span> Add the minimum amount balance<br>

        savings_reference <span style="display:inline-block; width:
        25%;"></span> Add the savings reference<br>

        overdraft_portfolio<span style="display:inline-block; width:
        25%;"></span> Add overdraft portfolio<br>

        savings_control <span style="display:inline-block; width:
        25%;"></span> account to which savings control will go to<br>

        savings_transfer_in_suspense<span style="display:inline-block; width:
        10%;"></span>account from savings transfer in suspense should go to<br>

        interest_on_savings <span style="display:inline-block; width:
        25%;"></span> Add the account should interest on savings go to<br>

        write_off<span style="display:inline-block; width:
        25%;"></span> Add the what account does write off go to<br>

        income_from_fees <span style="display:inline-block; width:
        25%;"></span>which accounts it belongs to.<br>

        income_from_penalties<span style="display:inline-block; width:
        25%;"></span>account income from penalties belongs to<br>

        overdraft_interest_income <span style="display:inline-block; width:
        20%;"></span> Add the account does overdraft interest belong to<br>

        is_a_group_product<span style="display:inline-block; width:
        25%;"></span> Add if it is a group product<br>

        minimum_shares_required <span style="display:inline-block; width:
        25%;"></span> Add the account number<br>

        status<span style="display:inline-block; width:
        25%;"></span> This where you choose whether to activate or deactivate a product<br>

        allow_withdraw <span style="display:inline-block; width:
        25%;"></span> Add if to allow withdrawal<br>


      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/savings_deposits_products'
      responses:
        default:
          description: successful operation
  /products/shares_products/:
    post:
      tags:
        - Products
      summary: Shares products
      description: >-
        This for shares products registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        product name<span style="display:inline-block; width: 25%;"></span>the name of a share product<br>

        Short name <span style="display:inline-block; width: 25%;"></span>Shortened form of the product name<br>

        Description<span style="display:inline-block; width: 25%;"></span>add a descriptive note about the product<br>

        currency <span style="display:inline-block; width: 25%;"></span> add the currency at which this product will operate at<br>

        total_number_of_shares <span style="display:inline-block; width: 25%;"></span>Shares available for disposal within an organization<br>

        nominal_price<span style="display:inline-block; width: 25%;"></span>Price per share<br>

        shares_to_be_issued <span style="display:inline-block; width: 5%;"></span> The maximum number of shares that the organization can allocate to its members <br>

        capital_value<span style="display:inline-block; width:
        25%;"></span>Total value of the shares in an organization<br>

        minimum_shares_per_client <span style="display:inline-block; width:
        25%;"></span>Minimum number of shares a client can own.<br>

        default_shares_per_client <span style="display:inline-block; width: 5%;"></span>Minimum number of shares a client can own.belonging to a sacco/microfinance<br>

        maximum_shares_per_client<span style="display:inline-block; width:
        15%;"></span>Maximum number of shares that a client can own <br>

        minimum_active_period <span style="display:inline-block; width:
        1%;"></span>Minimum period at which a client must have owned shares for them to receive dividends<br>

        allow_dividends_for_inactive_clients <span style="display:inline-block; width: 5%;"></span>deny or allow giving of dividends to an inactive client<br>

        shares_reference<span style="display:inline-block; width:
        15%;"></span>Add account shares reference belongs to<br>

        shares_suspense_control <span style="display:inline-block; width:
        15%;"></span> Add the account shares suspense control goes to.<br>

        equity <span style="display:inline-block; width: 25%;"></span> Add account equity goes to<br>

        income_from_fees<span style="display:inline-block; width:
        25%;"></span>Add the account does the income fee goes to. <br>

        status <span style="display:inline-block; width:
        25%;"></span> Add whether product created should be active or inactive.<br>

        allow_withdraw <span style="display:inline-block; width:
        25%;"></span> Add whether to allow withdraw or not<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/shares_products'
      responses:
        default:
          description: successful operation
  /products/fixed_deposits_products/:
    post:
      tags:
        - Products
      summary: Fixed deposits products
      description: >-
        This for fixed deposits products registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        product name<span style="display:inline-block; width: 25%;"></span>Add the name of a product.<br>

        short name <span style="display:inline-block; width: 25%;"></span> Shortened form of product name<br>

        Description<span style="display:inline-block; width: 25%;"></span>Add descriptive note for the product<br>

        Currency <span style="display:inline-block; width: 25%;"></span>currency at which this product will be operating at<br>

        Default_deposit_amount <span style="display:inline-block; width: 1%;"></span>An amount that you usually deposit during routine deposits<br>

        Minimum_deposit_amount<span style="display:inline-block; width: 5%;"></span>lowest allowed deposits an individual can add to their  account <br>

        Maximum_deposit_amount<span style="display:inline-block; width: 5%;"></span>highest allowed deposits an individual can add to their account <br>

        Nominal_annual_interest<span style="display:inline-block; width:
        5%;"></span>add the rate at which the cash in the fixed deposit account, grows at <br>

        Interest_compounding_period <span style="display:inline-block; width:
        15%;"></span> the period at which interest will be compounded.<br>

        Interest_calculated_using<span style="display:inline-block; width: 25%;"></span>Average daily balance Daily balance<br>

        Interest_posting_period<span style="display:inline-block; width: 25%;"></span>periods at which interests can be posted.<br>

        savings_reference<span style="display:inline-block; width: 15%;"></span> Add the account in which the savings reference belongs to<br>

        savings_control<span style="display:inline-block; width:
        25%;"></span>Add account to which savings control will go <br>

        savings_transfer_in_suspense <span style="display:inline-block; width:
        15%;"></span> Add the savings transfer in suspense should go to.<br>

        interest_on_savings<span style="display:inline-block; width: 25%;"></span> Add account should interest on savings go to<br>

        income_from_fees<span style="display:inline-block; width:
        25%;"></span>Add the account does the income fee goes to <br>

        income_from_penalties <span style="display:inline-block; width:
        25%;"></span> Add the account income from penalties belongs to<br>

        Status<span style="display:inline-block; width:
        25%;"></span>Add whether product created should be active or inactive<br>

        Allow withdraw <span style="display:inline-block; width:
        25%;"></span> Add whether allow withdraw or not<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/fixed_deposits_products'
      responses:
        default:
          description: successful operation
  /products/property/:
    post:
      tags:
        - Products
      summary: Property
      description: >-
        This for property registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Name<span style="display:inline-block; width: 25%;"></span>Add the name of the property being registered <br>

        Property code<span style="display:inline-block; width: 25%;"></span>Add the property code<br>

        Property value<span style="display:inline-block; width: 25%;"></span>Value of the property being registered<br>

        Property location <span style="display:inline-block; width: 25%;"></span>Add the area where the property is located<br>

        No_of_units <span style="display:inline-block; width: 25%;"></span>Add the number of units contained in the property<br>

        Gl_account<span style="display:inline-block; width: 25%;"></span>GL account that the property being registered belong to <br>


      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/property'
      responses:
        default:
          description: successful operation
  /products/property_unit_types/:
    post:
      tags:
        - Products
      summary: Property unit types
      description: >-
        This for property unit types registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        property<span style="display:inline-block; width: 25%;"></span>Add the property <br>

        unit_type <span style="display:inline-block; width: 25%;"></span> Add the type unit<br>

        no_of_units<span style="display:inline-block; width: 25%;"></span>Add the number of units<br>

        installment_price_for_member <span style="display:inline-block; width: 25%;"></span>Add the price of installment specified for members<br>

        installment_price_for_non_member <span style="display:inline-block; width: 25%;"></span>Add the installment specified for non-members<br>

        full_price_for_member<span style="display:inline-block; width: 25%;"></span>Add the full price specified for members <br>

        full_price_for_non_member <span style="display:inline-block; width: 25%;"></span>Add the full price specified for non-members<br>


      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/property_unit_types'
      responses:
        default:
          description: successful operation
  /products/property_units/:
    post:
      tags:
        - Products
      summary: Property units
      description: >-
        This for property units registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        property<span style="display:inline-block; width: 25%;"></span>Add the property<br>

        unit_type<span style="display:inline-block; width: 25%;"></span> Add the unit type<br>

        unit_name<span style="display:inline-block; width: 25%;"></span>Add a unit name<br>

        no_of_units <span style="display:inline-block; width: 25%;"></span> Add the number of units<br>

        title_deed_allocation_no <span style="display:inline-block; width: 15%;"></span>Add the number assigned to the title deed<br>


      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/property_units'
      responses:
        default:
          description: successful operation
  /products/property_units/?property{id}:
    get:
      tags:
        - Products
      summary: View property units
      description: >-
        View property units.With an OAuth 2.0 Access Token, an application can
        now invoke our API by including the access token in the HTTP header.<h3
        style="font-size:120%;">HTTP Header Parameters</h3> <hr><br>Parameters
        <span style="display:inline-block; width: 30%;"></span>  Description
        <hr>   Authorization <span style="display:inline-block; width:
        25%;"></span> Set to  Only bearer < access token>.<br> Content-Type
        <span style="display:inline-block; width: 25%;"></span>  Only
        application/json <h3 style="font-size:120%;"> HTTP POST Parameters</h3>
        <hr> Parameters <span style="display:inline-block; width: 30%;"></span>
        Description <hr> <br>

        Id <span style="display:inline-block; width: 25%;"></span>Add The property units Id<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - name: id
          in: path
          description: ''
          required: true
          type: string
      responses:
        default:
          description: successful operation
  /products/member_property_assignment/:
    post:
      tags:
        - Products
      summary: Member property assignment
      description: >-
        This for member property assignment.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        property<span style="display:inline-block; width: 25%;"></span>Add the property <br>

        unit_type <span style="display:inline-block; width: 25%;"></span> Add the unit type<br>

        member<span style="display:inline-block; width: 25%;"></span>Add the member<br>

        payment_type <span style="display:inline-block; width: 25%;"></span> Add the payment type<br>

        date_assigned <span style="display:inline-block; width: 25%;"></span> Add the date assigned
        <br>

        amount<span style="display:inline-block; width: 25%;"></span>Add the amount <br>

        combined_price_of_units<span style="display:inline-block; width: 25%;"></span> Add the combined price of the units<br>

        adjust_unit_type_price<span style="display:inline-block; width:
        25%;"></span>Add whether to adjust unit type price or not <br>


      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/member_property_assignment'
      responses:
        default:
          description: successful operation
  /products/member_property_assignment/?{id}:
    get:
      tags:
        - Products
      summary: view member property assignment
      description: >-
        This calls for the member property assignment list.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Id<span style="display:inline-block; width: 25%;"></span>Add the Id number of the assignment<br>


      produces:
        - application/xml
        - application/json
      parameters:

        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - name: id
          in: path
          description: 'The property assignment Id'
          required: true
          type: string
      responses:
        default:
          description: successful operation
  /products/savings_deposits_charges/:
    post:
      tags:
        - Products
      summary: Savings depoits charges
      description: >-
        This API is for savings and deposits registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        Name<span style="display:inline-block; width: 25%;"></span>Add the
        firstname <br>

        Charge time type<span style="display:inline-block; width: 25%;"></span> Add
        the middle name<br>

        Charge calculation<span style="display:inline-block; width: 25%;"></span>Add the
        last name <br>

        Formula <span style="display:inline-block; width: 25%;"></span> Add
        the identification number<br>

        Due date <span style="display:inline-block; width: 25%;"></span>
        Add the personal email<br>

        Repeats every<span style="display:inline-block; width: 25%;"></span>Add
        the phone number <br>

        Next due date<span style="display:inline-block; width: 25%;"></span> Add
        the banks name<br>

        Amount<span style="display:inline-block; width:
        25%;"></span>Add the bank account name <br>

        Gl account<span style="display:inline-block; width:
        25%;"></span> Add the account number<br>

        Status<span style="display:inline-block; width: 25%;"></span>Add
        the phone number <br>

        Lower limit<span style="display:inline-block; width: 25%;"></span> Add
        the banks name<br>

        Upper limit<span style="display:inline-block; width:
        25%;"></span>Add the bank account name <br>

        Is_penalty<span style="display:inline-block; width:
        25%;"></span> Add the account number<br>
      produces:
        - application/xml
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: The authorization access token
          required: true
          type: string
        - in: body
          name: data
          description: List of user object
          required: true
          schema:
            $ref: '#/definitions/savings_deposits_charges'
      responses:
        default:
          description: successful operation
  /transactions/income/:
    post:
      tags:
        - Payments
      summary: Income registration
      description: >-
        This for Income registration.With an OAuth 2.0 Access Token, an
        application can now invoke our API by including the access token in the
        HTTP header.<h3 style="font-size:120%;">HTTP Header Parameters</h3>
        <hr><br>Parameters <span style="display:inline-block; width:
        30%;"></span>  Description <hr>   Authorization <span
        style="display:inline-block; width: 25%;"></span> Set to  Only bearer <
        access token>.<br> Content-Type <span style="display:inline-block;
        width: 25%;"></span>  Only application/json <h3 style="font-size:120%;">
        HTTP POST Parameters</h3> <hr> Parameters <span
        style="display:inline-block; width: 30%;"></span>  Description <hr> <br>

        payer<span style="display:inline-block; width: 25%;"></span>Adding Individual making the payment<br>

        Account <span style="display:inline-block; width: 25%;"></span>Add the account the income goes to<br>

        Invoice<span style="display:inline-block; width: 25%;"></span>Add the invoice<br>

        Approved by <span style="display:inline-block; width: 25%;"></span>Add approving officer<br>

        Group <span style="display:inline-block; width: 25%;"></span>
        Add the group making a payment<br>

        Member<span style="display:inline-block; width: 25%;"></span>Add the member making payment <br>

        Member account <span style="display:inline-block; width: 25%;"></span> Add the members account<br>

        Bank<span style="display:inline-block; width:
        25%;"></span>Add bank to which the income will be deposited to <br>

        Cheque <span style="display:inline-block; width:
        25%;"></span>Add cheque no. where necessary<br>

        Transaction code<span style="display:inline-block; width: 25%;"></span>Add the transaction code. Unique identifier for the transaction <br>

        Amount <span style="display:inline-block; width: 25%;"></span> Add the amount to be paid<br>

        Payment type<span style="display:inline-block; width:
        25%;"></span>Add the mode of payment <br>

        Currency <span style="display:inline-block; width:
        25%;"></span> Add the currency for this transaction<br>

        Date <span style="display:inline-block; width: 25%;"></span> Add the date for the payment<br>

        Description<span style="display:inline-block; width:
        25%;"></span>Describe the nature of the payment <br>

[...]
